[
  {boot, [
    {port, 8100},
    {vsn,"rev1-20160721"},
    {product,true}
  ]},
  {lager, [
    {colored, true},
    {crash_log, "./var/logs/crash.log"}, {crash_log_size, 0}, {crash_log_date, "$D0"}, {crash_log_count, 30},
    {error_logger_hwm, 2000},
    {async_threshold, 3000000}, {async_threshold_window, 100000},

    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{file, "./var/logs/error.log"}, {level, error},{size,0},{date, "$D0"},{count,30}]},
      {lager_file_backend, [{file, "./var/logs/info.log"}, {level, info}, {size,0},{date, "$D0"},{count,30}]},
      {lager_file_backend, [{file, "./var/logs/warning.log"}, {level, warning}, {size,0},{date, "$D0"},{count,30}]}
    ]}
  ]}
].
